name: Run tox (tests & linting)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  tox:
    name: Run tox
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Checkout latest version from the repo.
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install `grep 'tox==' < requirements-dev.txt`

    - name: Cache tox environments
      uses: actions/cache@v3
      with:
        path: .tox
        key: ${{ runner.os }}-tox-${{ hashFiles('**/requirements-dev.txt') }}-${{ hashFiles('**/pyproject.toml') }}

    - name: Run tox on the repo
      run: |
        tox